---
http_interactions:
- request:
    method: get
    uri: http://api.worldweatheronline.com/premium/v1/weather.ashx?format=json&key=66f18a0d0f064db5a2e62225182702&num_of_days=1&q=London
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Stackifyid:
      - V1|621c3994-40dd-41d0-846a-7f7b806c5d7d|C59032|CD6|
      X-Wwo-Qpd-Left:
      - '470'
      X-Node:
      - haproxy_flex_02
      X-Webcelerate:
      - WebCelerate - www.ukfast.co.uk/web-acceleration.html
    body:
      encoding: UTF-8
      string: '{"data":{"request":[{"type":"City","query":"London, United Kingdom"}],"current_condition":[{"observation_time":"08:55
        AM","temp_C":"-2","temp_F":"28","weatherCode":"113","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0001_sunny.png"}],"weatherDesc":[{"value":"Sunny"}],"windspeedMiles":"6","windspeedKmph":"9","winddirDegree":"20","winddir16Point":"NNE","precipMM":"0.4","humidity":"80","visibility":"10","pressure":"1025","cloudcover":"0","FeelsLikeC":"-5","FeelsLikeF":"22"}],"weather":[{"date":"2018-02-27","astronomy":[{"sunrise":"06:50
        AM","sunset":"05:37 PM","moonrise":"02:28 PM","moonset":"05:22 AM"}],"maxtempC":"1","maxtempF":"34","mintempC":"-2","mintempF":"28","totalSnow_cm":"2.7","sunHour":"4.1","uvIndex":"1","hourly":[{"time":"0","tempC":"-1","tempF":"31","windspeedMiles":"11","windspeedKmph":"18","winddirDegree":"45","winddir16Point":"NE","weatherCode":"371","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0028_heavy_snow_showers_night.png"}],"weatherDesc":[{"value":"Moderate
        or heavy snow showers"}],"precipMM":"0.3","humidity":"63","visibility":"7","pressure":"1029","cloudcover":"58","HeatIndexC":"-1","HeatIndexF":"31","DewPointC":"-7","DewPointF":"20","WindChillC":"-6","WindChillF":"21","WindGustMiles":"16","WindGustKmph":"25","FeelsLikeC":"-6","FeelsLikeF":"21","chanceofrain":"98","chanceofremdry":"0","chanceofwindy":"0","chanceofovercast":"91","chanceofsunshine":"0","chanceoffrost":"98","chanceofhightemp":"0","chanceoffog":"0","chanceofsnow":"98","chanceofthunder":"0"},{"time":"300","tempC":"-1","tempF":"30","windspeedMiles":"9","windspeedKmph":"15","winddirDegree":"28","winddir16Point":"NNE","weatherCode":"338","weatherIconUrl":[{"value":"http://cdn.worldweatheronline.net/images/wsymbols01_png_64/wsymbol_0036_cloudy_with_heavy_snow_night.png"}],"weatherDesc":[{"value":"Heavy
        snow"}],"precipMM":"0.3","humidity":"76","visibility":"17","pressure":"1028","cloudcover":"100","HeatIndexC":"-1","HeatIndexF":"30","DewPointC":"-5","DewPointF":"23","WindChi[...]
